{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>สมัครสมาชิก</h1>
        <br/><br/>
        <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="firstname">Firstname:</label>
                <input type="text" class="form-control ml-3" id="firstname" 
                    name="firstname" value="{{firstname}}">
            </div>
            <div class="form-group">
                <label for="lastname">Lastname:</label>
                <input type="text" class="form-control ml-3" id="lastname" 
                    name="lastname" value="{{lastname}}">
            </div>
            <button type="submit" class="btn btn-primary ml-3">next</button>
        </form>
        <br/><br/>
    </div>
{% endblock %}